<%- include("partials/header") -%>
<% if(msg !== '') { %>
  <div class="alert alert-danger alert-dismissible mt-4" role="alert">
      <%= msg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
<% } %>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class=form-group">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title">
      </div>
      <div class="form-group">
        <label class="form-label" for="post">Post</label>
        <textarea rows="5" cols="50" class="form-control" id="post" name="post"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" name="publish">Publish</button>
</form>
<%- include("partials/footer") -%>